In [1]:
import pandas as pd
from preprocess import transform

In [2]:
df = pd.read_csv("bigdata2023classification/train.csv")
df

,Id,Title,Content,Label
0,227464,"Netflix is coming to cable boxes, and Amazon i...",if you subscribe to one of three rinky-dink (...,Entertainment
1,244074,"Pharrell, Iranian President React to Tehran 'H...","pharrell, iranian president react to tehran '...",Entertainment
2,60707,Wildlife service seeks comments,the u.s. fish and wildlife service has reopen...,Technology
3,27883,Facebook teams up with Storyful to launch 'FB ...,the very nature of social media means it is o...,Technology
4,169596,Caesars plans US$880 mln New York casino,caesars plans us$880 mln new york casino jul ...,Business
...,...,...,...,...
111790,31462,Microsoft requires Office 2013 licensing for s...,in contrast to the muckle of special licenses...,Technology
111791,100821,Smallpox vials missing since 1950s found in la...,government workers at a research center near ...,Health
111792,86181,Scientists May Have Just Discovered the Key to...,harvard scientists may have just unlocked the...,Health
111793,256423,Justin Bieber to plead guilty to DUI,"justin bieber to plead guilty to duifri, 13 ju...",Entertainment
111794,262120,Tracy Morgan upgraded to fair condition after ...,actor and comedian tracy morgan has been upgr...,Entertainment

In [3]:
df = transform(df, ["Title", "Content"])

HTML clean done
Numbers clean done
Punctation clean done
Uppercase clean done
Tokenize done
Stopwords clean done
Rarewords clean done
Lemmatize done

In [4]:
df

,Id,Title,Content,Label
0,227464,"[box, grocery, overlord]","[rinkydink, channelprovided, filtera, netflixr...",Entertainment
1,244074,"[iranian, react, tehran, arrest]","[repent, httptcoxvvaajeyi, harrisongetty, decr...",Entertainment
2,60707,[wildlife],"[longeared, whitenose, speciesduring, longeare...",Technology
3,27883,"[storyful, fb, newswire]","[inaccuracy, storyfuls, citable, storyfuls]",Technology
4,169596,"[caesar, mln, casino]","[newsdesk, nbsp, woodbury, parlay, thehectare,...",Business
...,...,...,...,...
111790,31462,"[require, license]","[endusers, techtarget, rds, citrix, permonth, ...",Technology
111791,100821,"[smallpox, vial, lab]","[supersecure, unaccountedfor, inactivate]",Health
111792,86181,"[reverse, age]","[rejuvenate, conjoining, mices, deaging, creb,...",Health
111793,256423,"[plead, duo]","[antidrug, khalil, amir, sharieff]",Entertainment
111794,262120,"[upgraded, condition]","[roper, jonesboro, swerve, plowed, roper]",Entertainment